<!doctype html>
<html lang="en">
  {% block head %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="icon" type="image/png" href="\front\images\sitelogo.png">
	  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="./assets/login/css/style.css">

<link rel="stylesheet" href="{{ asset('front/fonts/icomoon/style.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/bootstrap/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/owl.theme.default.min.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/jquery.fancybox.min.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/bootstrap-datepicker.css') }}">
<link rel="stylesheet" href="{{ asset('front/fonts/flaticon/font/flaticon.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/aos.css') }}">

  <style>
  .mb-4{
color:#000;
  }
body ,.btn{
background-color:	#222831;
}

  
  
  </style>
	</head>
    {% endblock %}
    
    {% block body %}
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(./front/images/bg_3.jpg);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign In</h3>
			      		</div>
							
			      	</div>
							<form method="post" class="signin-form">
                             {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                       
                       <div class="form-group mb-3">
			      			 <label for="inputEmail">Email</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus style="color: black;">

			      		</div>
		            <div class="form-group mb-3">
		            	    <label for="inputPassword">Password</label>
                         <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
		            </div>
                    <div>
                     <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                     </div>
		            <div class="form-group">
            <button class="btn btn-lg " type="submit" style="background-color: #ee1e46;color:white;">

                                 Sign in
                                      </button>		   
                                               </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0" style="color:#ee1e46;">Remember Me
									  <input type="checkbox" checked  style="color:#ee1e46;">
									  <span class="checkmark" style="background-color:#ee1e46;"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="{{path('app_forgot_password_request')}}">Forgot Password</a>
									</div>
		            </div>
		          </form>
		          <p class="text-center">Not a member? <a data-toggle="tab" href="{{path('app_register')}}">Sign Up</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

  <script src="./assets/loginjs/jquery.min.js"></script>
  <script src="./assets/login/js/popper.js"></script>
  <script src="./assets/login/js/bootstrap.min.js"></script>
  <script src="./assets/login/js/main.js"></script>

	</body>
    {% endblock %}
</html>

