{% extends 'base.html.twig' %}

{% block title %}Index des Terrains{% endblock %}

{% block content %}
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 100px;">
    <div class="col-lg-6">
    <h2 class="mb-4 text">All Terrains :</h2>
    <div class="mb-4 text-end">
        <a href="{{ path('app_terrain_new') }}" class="btn btn-success">Créer un nouveau terrain</a>
    </div>
    {% if terrains|length > 0 %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Localisation</th>
                    <th>Capacité</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for terrain in terrains %}
                    <tr>
                        <td>{{ terrain.id }}</td>
                        <td>{{ terrain.nom }}</td>
                        <td>{{ terrain.localisation }}</td>
                        <td>{{ terrain.capacite }}</td>
                        <td>
                            <a href="{{ path('app_terrain_show', {'id': terrain.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                            <a href="{{ path('app_terrain_edit', {'id': terrain.id}) }}" class="btn btn-secondary btn-sm">Éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun terrain trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">Aucun terrain trouvé.</p>
    {% endif %}
</div>
{% endblock %}
