<link rel="stylesheet" href="{{ asset('front/fonts/icomoon/style.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/bootstrap/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/owl.theme.default.min.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/jquery.fancybox.min.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/bootstrap-datepicker.css') }}">
<link rel="stylesheet" href="{{ asset('front/fonts/flaticon/font/flaticon.css') }}">
<link rel="stylesheet" href="{{ asset('front/css/aos.css') }}">

{% block stylesheets %}
    <style>
        /* Password Reset Email Sent page styles */
        body {
            font-family: Arial, sans-serif;
           background-color:	#222831;
        }

        .container {
            max-width: 600px;
            margin: 20% auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        p {
            margin-bottom: 20px;
        }

        a {
            color: #ee1e46;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <p>
            If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    </div>
{% endblock %}
