{% extends 'index.html.twig' %}

{% block body %}

<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 100px;">
    <div class="col-lg-6">

    <h2 class="mb-4 text">Liste des Événements</h2>
    <div class="mb-4 text-end">
        <a href="{{ path('app_evenement_new') }}" class="btn btn-success">Créer un nouvel événement</a>
    </div>
    {% if evenements|length > 0 %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                        <td>{{ evenement.id }}</td>
                        <td>{{ evenement.nom }}</td>
                        <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                        <td>{{ evenement.prix }}</td>
                        <td>
                            <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                            <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-secondary btn-sm">Éditer</a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="text-center">
            <p>Aucun événement trouvé.</p>
        </div>
    {% endif %}
  
</div>
{% endblock %}
