{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
=======
    <button class="btn">{{ button_label|default('Save') }}</button>
>>>>>>> c0a6901e20af18834aaf204d50cd2c2b74f48da8
{{ form_end(form) }}
