{% extends 'base.html.twig' %}

{% block title %}Joueur index{% endblock %}

{% block body %}
<<<<<<< HEAD
<div class="search-bar">
    <form class="search-form d-flex align-items-center" method="GET" action="{{ path('app_joueur_index') }}">
        <input type="text" name="query" placeholder="Search" value="{{ currentQuery }}" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
</div>

<h1>Joueur Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Numero</th>
            <th>Position</th>
            <th>IdEquipe</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for joueur in pagination %}
        <tr>
            <td>{{ joueur.id }}</td>
            <td>{{ joueur.nom }}</td>
            <td>{{ joueur.prenom }}</td>
            <td>{{ joueur.age }}</td>
            <td>{{ joueur.numero }}</td>
            <td>{{ joueur.position }}</td>
            <td>{{ joueur.id_Equipe }}</td>
            
            <td>
                <a href="{{ path('app_joueur_show', {'id': joueur.id}) }}" class="btn btn-primary">Show</a>
                <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}" class="btn btn-secondary">Edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">No records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Pagination controls -->
<div class="pagination" >
    {{ knp_pagination_render(pagination) }}
</div>

<a href="{{ path('app_joueur_new') }}" class="btn btn-primary">Create Joueur</a>
<a href="{{ path('app_joueur_pdf_download') }}" class="btn btn-info">Download as PDF</a>
<a href="{{ path('app_joueur_download') }}" class="btn btn-info">Download Joueurs</a>

<a href="{{ path('app_joueur_statistics') }}" class="btn btn-info">View Statistics</a>
<!--<p>Translate this page in your preferred language:</p>-->
    <div id="google_translate_element"></div> 
    <script type="text/javascript"> 
    function googleTranslateElementInit() { 
      new google.translate.TranslateElement({pageLanguage: 'fr'},'google_translate_element'); 
    } 
    </script> 
    <script type="text/javascript"src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
   <!--   <p>Vous pouvez traduire le contenu de cette page en sélectionnant une langue dans le menu déroulant.</p>-->
=======
    <h1>Joueur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>prenom</th>
                <th>age</th>
                <th>numero</th>
                <th>position</th>
                <th>idEquipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.id}}</td>
                <td>{{ joueur.nom}}</td>
                <td>{{ joueur.prenom}}</td>
                <td>{{ joueur.age}}</td>
                <td>{{ joueur.numero}}</td>
                <td>{{ joueur.position}}</td>
                <td>{{ joueur.id_Equipe}}</td>
                
                <td>
                    <a href="{{ path('app_joueur_show', {'id': joueur.id}) }}">show</a>
                    <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_joueur_new') }}">Create new</a>
>>>>>>> c0a6901e20af18834aaf204d50cd2c2b74f48da8
{% endblock %}
