{% extends 'base.html.twig' %}

{% block content %}
 <h2>Add Product </h2>

  
                <div class="col-xl-6">
                    <div class="card p-4">
                        <div class="row gy-4">
                            {{ form_start(f,{'attr': {'novalidate': 'novalidate'}} ) }}

                            <div class="col-md-6 form-control">
                                {{ form_label(f.prix, "Price") }}
                                {{ form_widget(f.prix) }}
                                <div class="error">{{ form_errors(f.prix) }}</div>
                            </div>

<div class="col-md-6 form-control">
    <label for="image">Product Image</label>
    <p>No image uploaded</p>
    {{ form_widget(f.imageFile) }}
    <div class="error">{{ form_errors(f.imageFile) }}</div>
</div>


                            <div class="col-md-6 form-control">
                                {{ form_label(f.nom_produit, "Product Name") }}
                                {{ form_widget(f.nom_produit) }}
                                <div class="error">{{ form_errors(f.nom_produit) }}</div>
                            </div>

                            <div class="col-md-6 form-control">
                                {{ form_label(f.description, "Description") }}
                                {{ form_widget(f.description) }}
                                <div class="error">{{ form_errors(f.description) }}</div>
                            </div>

                            <div class="col-md-6 form-control">
                                {{ form_label(f.stock_disponible, "Available stock") }}
                                {{ form_widget(f.stock_disponible) }}
                                <div class="error">{{ form_errors(f.stock_disponible) }}</div>
                            </div>

                            {{ form_widget(f.submit, {'attr': {'class': 'btn btn-primary','style': 'font-size: 16px;'}, 'label': '<i class="fas fa-save"></i> Add Product', 'label_html': true}) }}
                            {{ form_end(f) }}

                        </div>
                    </div>
                </div>

            </div>



{% endblock %}