{% extends 'base.html.twig' %}

{% block title %}Modify Article{% endblock %}

{% block content %}
<div class="container">
  <h1>Modify Article</h1>

  {{ form_start(form, {'attr': {'class': 'row gy-3'}}) }}

  <div class="col-md-6">
    
    {{ form_label(form.title, 'Title:', {'label_attr': {'class': 'col-form-label col-md-3'}}) }}
    <div class="col-md-9">
      {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="col-md-12">
    
    {{ form_label(form.content, 'Content:', {'label_attr': {'class': 'col-form-label'}}) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div class="col-md-6">
    
    {{ form_label(form.creationDate, 'Creation Date:', {'label_attr': {'class': 'col-form-label col-md-3'}}) }}
    <div class="col-md-9">
      {{ form_widget(form.creationDate, {'attr': {'class': 'form-control datepicker'}}) }}
    </div>
  </div>

  <div class="col-md-6">
    
    {{ form_label(form.journalist, 'Journalist:', {'label_attr': {'class': 'col-form-label col-md-3'}}) }}
    <div class="col-md-9">
      {{ form_widget(form.journalist, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="col-md-12 text-end">
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </div>

  {{ form_end(form) }}
</div>
{% endblock %}